.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-self: center;
  align-items: center;
  padding: 8px;
  gap: 16px;
}

.title {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  width: 600px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 512px;
  height: 100%;
  padding: 4px;
  margin-left: 32px;
}

.contentLabel::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 2px;
  margin-left: -14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  align-self: center;
}

.contentLabel {
  display: flex;
  font-size: 16px;
  align-items: center;
}
